#youtube-wrap
  #youtube{"data-property" => "{\n      videoURL: 'https://www.youtube.com/watch?v=ogp6h6jT4ZU',\n      containment: '#youtube-wrap',\n      autoPlay: true,\n      loop: 1,\n      mute: true,\n      startAt: 0,\n      opacity: 1,\n      showControls: false,\n      showYTLogo: false\n  }"}
